/**
 * ddblock
 */
/* line 5, ../sass/user-defined.scss */
div.ddblock-cycle-navigator10p div.slider-inner {
  border: 4px solid #CF000E;
}

/* line 11, ../sass/user-defined.scss */
#homepage-square #top-left {
  float: left;
}
/* line 14, ../sass/user-defined.scss */
#homepage-square #top-right {
  float: left;
}
/* line 17, ../sass/user-defined.scss */
#homepage-square #bottom-left {
  float: left;
  clear: left;
}
/* line 21, ../sass/user-defined.scss */
#homepage-square #bottom-right {
  float: left;
}
