/**
 * ddblock
 */
div.ddblock-cycle-navigator10p {
  div.slider-inner {
    border: 4px solid #CF000E;
  }
}

#homepage-square {
  #top-left {
    float: left;
  }
  #top-right {
    float: left;
  }
  #bottom-left {
    float: left;
    clear: left;
  }
  #bottom-right {
    float: left;
  }
}