/**
 * Dynamic display block module template:navigator10p-size-460 - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2012. All rights reserved.
 * Version 1.0 ( 19-JUN-2012 )
 * Licence: single usage
 */ 
/*
********************* container **********************
container width                                                                                        = 460px
container-inner width               = container width                                                  = 460px

********************* slider **********************
slider width                        = container-inner width - 2 x padding = 460 - 2 x 4                = 452px
slider inner height                 = container-inner height - 2 x padding = 209 - 2 x 4               = 201px

********************* slide **********************
slide-inner width                   = slider width                                                     = 452px
slide-inner height                  = slider width x 9/4                                               = 201px
slide-inner img width               = slider width                                                     = 452px
slide-inner img height              = slider height                                                    = 201px

********************* slide text **********************
slide-text-horizontal height        =                                                                  = 60px
slide-text-horizontal width         = slider width                                                     = 452px
slide-text-vertical height          = slider inner height                                              = 201px
slide-text-vertical width           =                                                                  = 200px
slide-text-inner-horizontal height  = slide-text-horizontal height - (2 x 10) padding = 60 - 20        =  40px
slide-text-inner-vertical height    = slide-text-vertical height - (2 x 10) padding   = 201 - 20       = 176px

********************* slide text - title **********************
slide-title-horizontal width        = slide-text-horizontal width - (2 x 10) padding  = 452 - 20       = 432px
slide-title-vertical width          = slide-text-vertical width - (2 x 10) padding    = 200 - 20       = 180px

********************* slide text - body **********************
slide-body-horizontal width         = slide-text-horizontal width - 25 - 120 (button) = 452 - 145      = 307px
slide-body-vertical width           = slide-text-vertical width - (2 x 10) padding    = 200 - 20       = 180px

********************* previous next pager on slide **********************
prev-container left                 = spacing                                                          = 5px
next-container left                 = slider width - image width  = 452 - 40 + 20                      = 432px
pager-slide                         = (sliderheight / 2) - half image height = (201 / 2) - 20          = 80px
*/
/******************** container **********************/  
div.ddblock-cycle-navigator10p div.container{width:460px;}
div.ddblock-cycle-navigator10p div.container-inner{width:460px;}
/********************* slider **********************/
div.ddblock-cycle-navigator10p div.slider{width:452px;}
div.ddblock-cycle-navigator10p div.slider-inner{height:201px;}
/********************* slide **********************/
div.ddblock-cycle-navigator10p div.slide-inner{height:201px;width:452px;}
div.ddblock-cycle-navigator10p div.slide-inner img{height:201px;width:452px;}
/********************* slide text **********************/
div.ddblock-cycle-navigator10p div.slide-text-horizontal{height:60px;width:452px;}
div.ddblock-cycle-navigator10p div.slide-text-vertical{height:201px;width:200px;}
div.ddblock-cycle-navigator10p div.slide-text-inner-horizontal{height:40px;}
div.ddblock-cycle-navigator10p div.slide-text-inner-vertical{height:176px;}
/********************* slide text - title **********************/
div.ddblock-cycle-navigator10p div.slide-title-horizontal{width:432px;}
/********************* slide text - body **********************/
div.ddblock-cycle-navigator10p div.slide-body-horizontal{width:307px;}
div.ddblock-cycle-navigator10p div.slide-body-vertical{width:180px;}
/********************* previous next pager on slide **********************/
div.ddblock-cycle-navigator10p div.prev-container{left:-20px;}
div.ddblock-cycle-navigator10p div.next-container{left:432px;}
div.ddblock-cycle-navigator10p div.pager-slide{top:80px;}
