/**
 * Dynamic display block module template:navigator10p-size-940 - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2012. All rights reserved.
 * Version 1.0 ( 19-JUN-2012 )
 * Licence: single usage
 */ 
/*
********************* container **********************
container width                                                                                        = 940px
container-inner width               = container width                                                  = 940px

********************* slider **********************
slider width                        = container-inner width - 2 x padding = 940 - 2 x 4                = 932px
slider inner height                 = container-inner height - 2 x padding = 422 - 2 x 4               = 414px

********************* slide **********************
slide-inner width                   = slider width                                                     = 932px
slide-inner height                  = slider width x 9/4                                               = 414px
slide-inner img width               = slider width                                                     = 932px
slide-inner img height              = slider height                                                    = 414px

********************* slide text **********************
slide-text-horizontal height        =                                                                  = 90px
slide-text-horizontal width         = slider width                                                     = 932px
slide-text-vertical height          = slider inner height                                              = 414px
slide-text-vertical width           =                                                                  = 200px
slide-text-inner-horizontal height  = slide-text-horizontal height - (2 x 10) padding = 90 - 20        =  70px
slide-text-inner-vertical height    = slide-text-vertical height - (2 x 10) padding   = 414 - 20       = 390px

********************* slide text - title **********************
slide-title-horizontal width        = slide-text-horizontal width - (2 x 10) padding  = 932 - 20       = 912px
slide-title-vertical width          = slide-text-vertical width - (2 x 10) padding    = 200 - 20       = 180px

********************* slide text - body **********************
slide-body-horizontal width         = slide-text-horizontal width - 25 - 120 (button) = 932 - 145      = 787px
slide-body-vertical width           = slide-text-vertical width - (2 x 10) padding    = 200 - 20       = 180px

********************* previous next pager on slide **********************
prev-container left                 = spacing                                                          = 5px
next-container left                 = slider width - image width  = 932 - 40 + 20                      = 912px
pager-slide                         = (sliderheight / 2) - half image height = (414 / 2) - 20          = 187px
*/
/******************** container **********************/  
div.ddblock-cycle-navigator10p div.container{width:940px;}
div.ddblock-cycle-navigator10p div.container-inner{width:940px;}
/********************* slider **********************/
div.ddblock-cycle-navigator10p div.slider{width:932px;}
div.ddblock-cycle-navigator10p div.slider-inner{height:414px;}
/********************* slide **********************/
div.ddblock-cycle-navigator10p div.slide-inner{height:414px;width:932px;}
div.ddblock-cycle-navigator10p div.slide-inner img{height:414px;width:932px;}
/********************* slide text **********************/
div.ddblock-cycle-navigator10p div.slide-text-horizontal{height:90px;width:932px;}
div.ddblock-cycle-navigator10p div.slide-text-vertical{height:414px;width:200px;}
div.ddblock-cycle-navigator10p div.slide-text-inner-horizontal{height:70px;}
div.ddblock-cycle-navigator10p div.slide-text-inner-vertical{height:390px;}
/********************* slide text - title **********************/
div.ddblock-cycle-navigator10p div.slide-title-horizontal{width:912px;}
/********************* slide text - body **********************/
div.ddblock-cycle-navigator10p div.slide-body-horizontal{width:787px;}
div.ddblock-cycle-navigator10p div.slide-body-vertical{width:180px;}
/********************* previous next pager on slide **********************/
div.ddblock-cycle-navigator10p div.prev-container{left:-20px;}
div.ddblock-cycle-navigator10p div.next-container{left:912px;}
div.ddblock-cycle-navigator10p div.pager-slide{top:187px;}
